<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$CONTENT_TITLE · Finance Tracker">Finance Tracker</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body class="bg-light">
<header th:replace="layout/fragments :: navbar"></header>

<main class="container py-4" layout:fragment="content">Main</main>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
