<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login – Monefy App</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
            rel="stylesheet"
    >
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    >
</head>
<body>
<div class="login-container">
    <div class="login-card">
        <h2>Monefy</h2>
        <p class="subtitle">Учет личных финансов</p>
        <form th:action="@{/login}" method="post" th:object="${loginUser}">
            <div class="input-group">
                <span class="material-icons">person</span>
                <label>
                    <input
                            type="text"
                            th:field="*{username}"
                            placeholder="Имя пользователя"
                            required
                    />
                </label>
            </div>
            <div class="input-group">
                <span class="material-icons">lock</span>
                <label>
                    <input
                            type="password"
                            th:field="*{password}"
                            placeholder="Пароль"
                            required
                    />
                </label>
            </div>
            <button type="submit">Войти</button>
        </form>
        <p class="footer-text">
            Нет аккаунта? <a th:href="@{/register}">Зарегистрироваться</a>
        </p>
    </div>
</div>
</body>
</html>
